<section class="section" id="about">
  @@include("./UI/_navbar.html")

  <div class="content">
    <article>
      @@include("./UI/_title.html", { title: "about me"})

      <div class="about_text">
        <div></div>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim veniam reprehenderit quis iste! Reiciendis vel
          eligendi et ut. Ducimus quia perferendis ea assumenda modi unde suscipit nihil praesentium molestias sint.
          <br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim veniam reprehenderit quis iste! Reiciendis vel
          eligendi et ut. Ducimus quia perferendis ea assumenda modi unde suscipit nihil praesentium molestias sint.
          <br>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim veniam reprehenderit quis iste! Reiciendis vel
          eligendi et ut. Ducimus quia perferendis ea assumenda modi unde suscipit nihil praesentium molestias sint.
        </p>
      </div>
    </article>

    @@include("./UI/_button.html", { text: "next" , page: "skills" })
  </div>
</section>