<section class="section" id="contacts">
  @@include("./UI/_navbar.html")

  <div class="content">
    <article>
      @@include("./UI/_title.html", { title: "contacts"})

      <div class="contacts_list">
        <div class="contact">
          <a href="https://t.me/nurjigit_m" target="_blank">
            <img src="../images/icons/telegram-logo.png" alt="">
            Telegram
            <br>
            @nurjigit_m
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/Nurjigit-Melis-uulu" target="_blank">
            <img src="../images/icons/github-logo.png" alt="">
            github
            <br>
            Nurjigit-melis-uulu
          </a>
        </div>
        <div class="contact">
          <a href="tel: +996 (0708) 33 92 20">
            <img src="../images/icons/phone-icon.png" alt="">
            phone
            <br>
            +996 708339220
          </a>
        </div>
      </div>
    </article>

    @@include("./UI/_button.html", { text: "back to home", page: "home" })
  </div>
</section>