<section class="section" id="home">
  @@include("./UI/_navbar.html", { type: "home_navbar" })

  <div class="content">
    <article>
      <header>
        <h1>Nurjigit</h1>
        <h3>Melis uulu</h3>
        <h2>Frontend developer</h2>
      </header>
    </article>
    @@include("./UI/_button.html", { text: "next", class: "neon" })
  </div>

  <div id="canvas_images">
    <img id="ellipse" src="../images/icons/ellipse.png" alt="ellipse">
    <img id="line" src="../images/icons/line.png" alt="line">
    <img id="triangle" src="../images/icons/triangle.png" alt="triangle">
  </div>
</section>