<section class="section" id="home">
  @@include("./UI/_navbar.html", { type: "home_navbar" })

  <div class="content">
    <canvas id="home__canvas"></canvas>
    <article>
      <header>
        <h1>Nurjigit</h1>
        <h3>Melis uulu</h3>
        <h2>Frontend developer</h2>
      </header>
    </article>
    @@include("./UI/_button.html", { text: "next" })
  </div>

  <div class="section_decorative_el">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</section>