<section class="section" id="works">
  @@include("./UI/_navbar.html")

  <div class="content">
    <article>
      @@include("./UI/_title.html", { title: "my works"})

      <div class="works_list">
        <div class="work">
          <img src="../images/content/hungry.png" alt="site">
          <a href="">
            <img src="../images/icons/eye.png" alt="">
            Look
          </a>
        </div>
        <div class="work">
          <img src="../images/content/price-list.png" alt="site">
          <a href="">
            <img src="../images/icons/eye.png" alt="">
            Look
          </a>
        </div>
        <div class="work">
          <img src="../images/content/casablanca.png" alt="site">
          <a href="">
            <img src="../images/icons/eye.png" alt="">
            Look
          </a>
        </div>
        <div class="work">
          <img src="../images/content/3d-nav.png" alt="site">
          <a href="">
            <img src="../images/icons/eye.png" alt="">
            Look
          </a>
        </div>
      </div>
    </article>

    @@include("./UI/_button.html", { text: "next", page: "contacts" })
  </div>
</section>