<div class="navScreen">
  <div class="anim_screen">
    <div class="anim_wrapper">
      <div class="figure">
        <img src="../../images/icons/Polygon-solid.png" alt="">
      </div>
      <div class="parallax">
        <img src="../../images/icons/group39.png" alt="">
      </div>
    </div>
  </div>

  <div class="nav_wrapper">
    <div class="backdrop"></div>

    <nav class="nav">
      <ul class="nav__links">
        <li>
          <a href="#home">home</a>
        </li>
        <li>
          <a href="#about">about</a>
        </li>
        <li>
          <a href="#skills">skills</a>
        </li>
        <li>
          <a href="#works">works</a>
        </li>
        <li>
          <a href="#contacts">contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>