.about_text {
  display: flex;

  div {
    margin-right: 20px;
    width: 2px;
    height: inherit;
    background-color: white;
    border-radius: 2px;
  }

  p {
    width: 100%;
  }
}

#about {
  article {
    max-width: 720px;
  }
}

@media (max-width: 440px) {
  #about .content {
    justify-content: space-around;
    margin-top: 100px;
  }

  #about {
    height: auto;
  }

  #about .content .button {
    position: static;
    margin: 20px;
  }

  #about .navbar {
    margin-top: 40px;
  }
}