.button {
  display: inline-block;
  padding: 6px 20px;
  font-family: "Cera Pro", Arial, Helvetica, sans-serif;
  border-radius: 2px;
  border: solid 2px white;
  background-color: #1F1F1F;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  outline: none;
  text-decoration: none;
}

.button:hover {
  border-color: #BD00FF;
}

a.neon {
  border: solid 2px #BD00FF;
}

a.neon:hover {
  border-color: white;
}