.contacts_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .contact a {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: white;
    text-decoration: none;

    img {
      width: 40px;
    }
  }
}

@media (max-width: 720px) {
  .contacts_list .contact a {
    width: 160px;
  }
}

@media (max-width: 500px) {
  .contacts_list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .contacts_list {
    margin: 60px 0;
  }
}