.navbar {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar__links {
    display: none;
    list-style: none;

    a {  
      text-decoration: none;
      color: white;
      font-size: 14px;
    }

    a:hover {
      text-decoration: underline;
    }

    .active {
      color: #BD00FF;
    }
  }

  .burger_menu {
    display: flex;
    flex-direction: column;
    width: 20px;

    div {
      width: 100%;
      height: 2px;
      margin: 0 0 4px;
      background-color: white;
    }
  }

  .burger_menu:hover div {
    background-color: #BD00FF; 
  }
}

#home_navbar {
  .navbar__links {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      margin: 0 15px;
    }
  }

  .burger_menu {
    display: none;
  }

  @media (max-width: 700px) {
    .navbar__links {
      display: none;
    }

    .burger_menu {
      display: flex;
    }
  }
}