#works {
  .works_list {
    width: 100%;
    max-width: 720px;
    display: flex;

    .work {
      position: relative;
      margin: 10px;

      img {
        width: 100%;
        height: 100%;
      }

      a {
        display: none;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border: 2px solid #BD00FF;
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-size: 12px;

        img {
          width: 64px;
        }
      }
    }

    .work:hover {
      a {
        display: flex;
        animation: shift .3s .1s forwards ease-out;
      }

      @keyframes shift {
        from {}
        to {
          transform: translate(-10px, -10px);
        }
      }
    }
  }
}

@media (max-width: 720px) {
  #works .works_list {
    flex-wrap: wrap;
    justify-content: center;

    .work {
      width: 180px;
    }
  }
}

@media (max-width: 440px) {
  #works .works_list {
    .work {
      width: 100px;
    }
  }
}